.a {
  background-color: red;
  padding-top: 28.5px;
  padding-bottom: 28.5px;
  margin-top: 0em;
}
.b {
  background-color: orange;
  padding-top: 66px;
  padding-bottom: 66px;
}
.c {
  background-color: yellow;
  padding-top: 53.5px;
  padding-bottom: 53.5px;
  display: block;
}
.d {
  background-color: green;
  padding-top: 53.5px;
  padding-bottom: 53.5px;
  display: block;
}
.e {
  background-color: blue;
  padding-top: ;
  padding-bottom: ;
  height: 240px;
  width: 50%;
  float: left;
}
.f {
  background-color: red;
  padding-top: ;
  padding-bottom: ;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 240px;
  width: 50%;
  float: right;
}
.g {
  background-color: orange;
  padding-top: 116px;
  padding-bottom: 116px;
  width: 50%;
  float: left;
}
.h {
  background-color: yellow;
  padding-top: 116px;
  padding-bottom: 116px;
  width: 50%;
  float: right;
}
.i {
  background-color: green;
  padding-top: 31px;
  padding-bottom: 31px;
  display: block;
}